<div class="screen">
  <div class="contentTitleArea">
    <div class="leftTopArea">
        <div class="searchArea">
          <input class="logoText" placeholder="Pesquise Aqui"/>
          <img alt="logo" class="logoImg" src="../assets/img/search.png" alt="Pesquise Aqui"/>
        </div>
    </div>
    <div class="rightTopArea">
      <div class="titleBar">
        <div class="titleLeft">
          <span class="logo"><img alt="logo" src="../assets/img/logo.png"/></span>
        </div>
        <div class="titleRight biggerWidth">
          <span class="mr-3">Grupo Econômico:</span>
          <span class="mr-3">
            <select class="titleSelect">
              <option value="v1">Visão Agregada 1</option>
            </select>
          </span>
          <span class="">
            <select class="titleSelect bgDeepBlue textLight">
              <option value="soli">Sandra Oliveira</option>
            </select>
          </span>
          <div class="alertButton">
            <span>
                <img alt="Notificação" src="../assets/img/bell.png"/>
            </span>
            <div class="alertCircle">
              <span class="alertNumber">3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomArea">
    <div class="sideMenu open">
      <ul>
        <li *ngFor="let menuOption of menuOptions; let i = index;" [value]="menuOption.Id" (click)="onMenuItemClicked(i)" class="menuLine">
          <img class="menuImg" [src]="menuOption.ImageSrc"/>
          <span class="menuLabel">{{menuOption.Label}}</span>
          <img *ngIf="i == menuSelectedIndex" src="../assets/img/triangle-left.png" class="menuSelected"/>
          <img src="../assets/img/arrowRight.png" class="arrowRightMenu"/>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="tableLayout">
          <div class="topArea">
            <div class="topAreaInner">
                <div class="greyTop">
                  <div class="breadcrumbs ml-3">
                    <a href="" class="breadCrumb">Página Inicial</a>
                    <span class="ml-3 mr-3 breadCrumbSplitter">></span>
                    <a href=""  class="breadCrumb">Painel de Gestão</a>
                  </div>
                  <div class="titleBar mt-3">
                    <div class="titleLeft">
                      <span class="biggerTitleArea ml-3">
                        <span class="mr-3">
                          <img alt="logo" src="../assets/img/internetBlue.png"/>
                        </span>
                        <span class="biggerTitle">Painel de Gestão</span>
                      </span>
                    </div>
                    <div class="titleRight">
                      <span class="mr-3">Produto</span>
                      <span>
                        <select class="titleSelect bgGrey">
                          <option value="todos">Todos</option>
                        </select>
                      </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="contentArea">
            <div class="cards">
              <div class="colHalf colL">
                <div class="card card1">
                  <div class="cardTitleArea">
                    <span class="halfWidth cardTitle textMute">Atalhos</span>
                  </div>
                  <div class="cardContentArea">
                    <div class="buttonsArea">
                      <span class="buttonLine">
                        <div class="textButton">Envio</div>
                        <div class="textButton">Assinatura</div>
                        <div class="textButton">Envio de Duplicatas</div>
                        <div class="textButton">Assinatura Digital</div>
                        <div class="textButton">Nova Operação</div>    
                      </span>      
                    </div>
                    <div class="buttonsArea2">
                      <div class="textButton">Carteira</div>
                      <div class="textButton">Instruções</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="colHalf colR">
                <div class="card card2">
                  <div class="cardTitleArea">
                    <span class="halfWidth cardTitle">Alertas</span>
                    <div class="halfWidth alignRight daysLabel"><span>Últimos 5 dias</span></div>
                  </div>
                  <div class="cardContentArea">
                    <div class="cardLine">
                      <div class="halfWidth cardLabel">23 Notas Canceladas</div>                   
                    </div>
                    <div class="cardLine">
                      <div class="halfWidth cardLabel">13 Notas Canceladas</div>
                      <div class="halfWidth alignRight">
                        <select [(ngModel)]="actionSelected2" (ngModelChange)="onActionSelected($event)" class="normalSelect">
                          <option *ngFor="let action of actions" [value]="action.Id">
                              {{action.Label}}
                          </option>
                        </select>
                      </div>                      
                    </div>
                    <div class="cardLine">
                        <div class="halfWidth cardLabel">7 Assinaturas Digitais</div>
                        <div class="halfWidth alignRight">
                          <select [(ngModel)]="actionSelected3" (ngModelChange)="onActionSelected($event)" class="normalSelect">
                            <option *ngFor="let action of actions" [value]="action.Id">
                                {{action.Label}}
                            </option>
                          </select>
                        </div>                      
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

