html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
  }
  
  .navBar {
    background-color: lightgray;
    padding: 1rem;
  }
  
  .screen {
    height: 100%;
    width: 100%;
  }
  
  .sideMenu {
    background-color: lightblue;
    padding: 1rem;
    float: left;
    height: 100%;
      overflow: hidden;
      padding: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 0px;
  
    -webkit-transition: width 2s, padding 1s;   /* Safari */
    transition: width 2s, padding 1s;
  }
  
  .sideMenu.open {
    width: 200px;
    padding: 1rem;
  }
  
  .content {
    padding: 2rem;
    background: lightyellow;
    overflow: auto;
    height: 100%;
  }
  
.titleBar {
    display: block;
    width: 100%;
}
.contentArea {
    display: block;
    width: 100%;
}
.cards {
    display: block;
    width: 100%;
}
.card {
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.2s;
    box-sizing: border-box;

}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  
.card1 {
    display: inline-block;
    margin-right: 2rem;
    width: calc(70% - 2rem);
}
.card2 {
    display: inline-block;
    width: 30%;
}