html {
    height: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
  }
  
  .navBar {
    background-color: lightgray;
    padding: 1rem;
  }
  
  .screen {
    height: 100%;
    width: 100%;
  }
  
  .sideMenu {
    background-color: lightblue;
    padding: 1rem;
    float: left;
    height: 100%;
    width: 300px;
    overflow: hidden;
}
.content {
    background: lightyellow;
    overflow: auto;
    height: 100%;
    width: auto;
}
.tableLayout {
    display: table;
    width: 100%;
    height: 100%;
}
.titleBar {
    display: block;
    width: 100%;
}
.topArea {
    width: 100%;
    display: table-row;
}
.topAreaInner {
    padding: 3rem;
}
.contentArea {
    width: 100%;
    height: 100%;
    display: table-row;
}
.cards {
    height: 100%;
    width: 100%;
}
.colHalf {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    padding: 3rem;
    float: left;
}
.colL {
    padding-right: 1.5rem;
}
.colR {
    padding-left: 1.5rem;
}
.card {
    padding: 3rem;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    transition: 0.2s;
    box-sizing: border-box;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  
.card1 {
    height: 100%;
}
.card2 {
    height: 100%;
}
.breadCrumbs {
    display: table-row;
}
.contentTitleArea {
    display: block;
}